*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

figure{
    width: 800px;
    height: 600px; 
    background-size: cover;
    animation-name: fotoslider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes fotoslider {
    0%{
        opacity: 0;
        background-image: url(/img/wereld_kaart.jpg);
    }
    12.5%{
        opacity: 1;
        background-image: url(/img/wereld_kaart.jpg);
    }
    24%{
        opacity: 0;
        background-image: url(/img/wereld_kaart.jpg);
    }
    25%{
        opacity: 0;
        background-image: url(/img/museum.jpg);
    }
    37.5%{
        opacity: 1;
        background-image: url(/img/museum.jpg);
    }
    49%{
        opacity: 0;
        background-image: url(/img/museum.jpg);
    }
    50%{
        opacity: 0;
        background-image: url(/img/boot.jpg);
    }
    62.5%{
        opacity: 1;
        background-image: url(/img/boot.jpg);
    }
    74%{
        opacity: 0;
        background-image: url(/img/boot.jpg);
    }
    75%{
        opacity: 0;
        background-image: url(/img/VOC\ boot.jpg);
    }
    87.5%{
        opacity: 1;
        background-image: url(/img/VOC\ boot.jpg);
    }
    99%{
        opacity: 0;
        background-image: url(/img/VOC\ boot.jpg);
    }
    100%{
        opacity: 0;
        background-image: url(/img/wereld_kaart.jpg);
    }
}