*{
    margin: 0 auto;
    padding: 0;
}

body

.topnav {
    overflow: hidden;
    background-color: #00102b;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
  background-color:#033f7a;
    color: white;
  }

#logo{
    width: 20%;
    padding-bottom: 25px;
}

.container{
  display: flex;
  align-content: center;
}

.titels{
  display: flex;
  align-content: center;
}

h2{
  width: 25%;
  color: white;
  background:#00102b;
  margin: 5%;
  margin-top: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding: 15px;
}

p{
  width: 25%;
  color: white;
  background: #00102b;
  margin: 5%;
  margin-top: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding: 15px;
}

#top{
  background: #00102b;
  height: 500px;
  background-size: cover;
  background-image: url(/img/wereld_kaart.jpg);
}  


#mid{
  background-color:#033f7a;
  height: 550px;
}

#bot{
  background-color: #0278c2;
  height: 700px;
}

figure{
  width: 800px;
  height: 500px; 
  background-size: cover;
  animation-name: fotoslider;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
/*fotoslider*/



@keyframes fotoslider {
  0%{
      opacity: 0;
      background-image: url(/img/wereld_kaart.jpg);
  }
  12.5%{
      opacity: 1;
      background-image: url(/img/wereld_kaart.jpg);
  }
  24%{
      opacity: 0;
      background-image: url(/img/wereld_kaart.jpg);
  }
  25%{
      opacity: 0;
      background-image: url(/img/museum.jpg);
  }
  37.5%{
      opacity: 1;
      background-image: url(/img/museum.jpg);
  }
  49%{
      opacity: 0;
      background-image: url(/img/museum.jpg);
  }
  50%{
      opacity: 0;
      background-image: url(/img/boot.jpg);
  }
  62.5%{
      opacity: 1;
      background-image: url(/img/boot.jpg);
  }
  74%{
      opacity: 0;
      background-image: url(/img/boot.jpg);
  }
  75%{
      opacity: 0;
      background-image: url(/img/VOC\ boot.jpg);
  }
  87.5%{
      opacity: 1;
      background-image: url(/img/VOC\ boot.jpg);
  }
  99%{
      opacity: 0;
      background-image: url(/img/VOC\ boot.jpg);
  }
  100%{
      opacity: 0;
      background-image: url(/img/wereld_kaart.jpg);
  }
}